<html> 

<head>
<title> سعر البيوت</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <h1>توقع سعر البيت</h1>

    <form action="/predict" method="post" enctype="multipart/form-data">
      
<br>
عدد الحمامات
<br>
<input type="number" name="input_example[]">
<br>
عدد الغرف
<br>
<input type="number" name="input_example[]">
<br>
سنة البناء
<br>
<input type="number" name="input_example[]">
<br>

<br><br>
      <input type="submit" value="توقع"> {% if label %} {{ label }} {% endif %}
    </form>

</body>

</html>